{% extends "bone.html" %}

{% load news %}

{% block content %}
    <p><em>MapyHazardu.cz</em> sledují situaci heren ve vybraných
    městech České republiky. Podle <a href="http://portal.gov.cz/wps/portal/_s.155/701/.cmd/ad/.c/313/.ce/10821/.p/8411/_s.155/701?PC_8411_number1=202/1990&PC_8411_p=17&PC_8411_l=202/1990&PC_8411_ps=10#10821">zákona</a>
    totiž nesmějí být herny provozovány v sousedství škol, nemocnic, kostelů,
    apod.</p>

    <p><a href="{% url entry-list %}">Realita je ale bohužel jiná</a>. Spousta
    obcí o zákoně buďto neví nebo jej vědomě ignoruje. Budeme rádi, pokud <a
    href="{% url instruction %}">pomůžete zmapovat</a> situaci i ve vašem
    městě.</p>

    <p><i>MapyHazardu.cz</i> provozuje <a href="{% url contact %}">Občanské sdružení
    Brnění</a>, které problematiku regulace hazardu v ČR zpracovalo i do podoby
    <a href="http://www.osbrneni.cz/regulace-hazardu/manual">manuálu</a>.<br>
    Zdrojový kód projektu je <a href="https://github.com/msgre/hazard">volně
    k dispozici</a>.</p>

    <h3>Aktuálně</h3>
    {% display_last_new %}
{% endblock %}
