{% extends "bone.html" %}

{% block title %}Návod na vytvoření mapy heren &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <h3>Návod na vytvoření mapy heren</h3>

    <p><em>MapyHazardu.cz</em> ke své funkci využívají aplikaci "Moje mapy" od
    společnosti Google. Princip je jednoduchý &mdash; připravíte si dvě mapy,
    jednu s hernami, druhou s budovami. Pak vložíte URL adresy obou map do <a
    href="{% url entry-form %}">tohoto formuláře</a> a po jejich nahrání se vám
    zobrazí situace ve vašem městě.</p>

    <p>Pojďme na to.</p>

    <h4>Nakreslení mapy heren</h4>
    <ul>
        <li>Navštivte adresu <a href="http://maps.google.com/">maps.google.com</a>
        <li>V levém sloupci klikněte na odkaz "Moje mapy".
        <a href="{{ MEDIA_URL }}img/instruction/moje_mapy.png" class="fb" rel="instr" title="Aplikace Moje Mapy společnosti Google"><img src="{{ MEDIA_URL }}img/instruction/moje_mapy_t.png" width="250"></a>
        <li>Pokud využíváte některou ze služeb společnosti Google (GMail, Reader, apod.)
          a jste přihlášeni, můžete hned začít vytvářet novou mapu. V opačném případě
          uvidíte tlačítko "Začít". Klikněte na něj a buďto se přihlašte, nebo si
          zřiďte nový uživatelský účet.
          <a href="{{ MEDIA_URL }}img/instruction/zacit.png" class="fb" rel="instr" title="Tlačítko pro vytvoření první mapy"><img src="{{ MEDIA_URL }}img/instruction/zacit_t.png" width="250"></a>
        <li>Po přihlášení uvidíte v levém sloupci odkaz "Vytvořit novou mapu"
          nebo tlačítko "Začít". Klikněte na ně.
        <li>Do políčka nadpis zadejte např. "Herny ve Vsetíně". Ujistěte se, že
          v "Nastavení soukromí a sdílení" máte vybránu volbu "Veřejná".
        <li>Klikněte na odkaz "Spolupracovat".
          <a href="{{ MEDIA_URL }}img/instruction/spolupracovat.png" class="fb" rel="instr" title="Odkaz Spolupracovat"><img src="{{ MEDIA_URL }}img/instruction/spolupracovat_t.png" width="250"></a>
        <li>V sekci "Spravovat spolupracovníky" zaškrtněte volbu "Povolit úpravu této mapy všem" a klikněte na tlačítko "Ok".
          <a href="{{ MEDIA_URL }}img/instruction/povoleni_uprav.png" class="fb" rel="instr" title="Díky této volbě budou moci na mapě spolupracovat i další lidé"><img src="{{ MEDIA_URL }}img/instruction/povoleni_uprav_t.png" width="250"></a>
        <li>Najděte v mapě svou obec (mapu přesunete stisknutím levého tlačítka
        myši), klikněte v levém horním rohu na ikonu špendlíku a dalším
        kliknutím jej v mapě na místo, kde leží některá z heren.
          <a href="{{ MEDIA_URL }}img/instruction/zaznam2.png" class="fb" rel="instr" title="Vložení špendlíku do mapy"><img src="{{ MEDIA_URL }}img/instruction/zaznam2_t.png" width="250"></a>
        <li>Do políčka "Nadpis" v bublině zadejte
          název herny. Pokud máte o ní máte zjištěny nějaké zajímavé informace,
          klikněte na "Formát RTF" a vložte je do políčka "Popis" (např. přesnější
          adresu, fotku, datum od kdy je herna v provozu, apod.). Pokud o herně žádné
          podrobnosti neznáte, můžete políčko "Popis" nechat prázdné. Klikněte na
          tlačítko "OK".
          <a href="{{ MEDIA_URL }}img/instruction/bublina.png" class="fb" rel="instr" title="Bublina s podrobnými informacemi o herně"><img src="{{ MEDIA_URL }}img/instruction/bublina_t.png" width="250"></a>
        <li>Zaneste stejným způsobem do mapy všechny ostatní herny z vaší obce a nakonec
          klikněte na tlačítko "Hotovo" v levém sloupci.
          <a href="{{ MEDIA_URL }}img/instruction/hotovo.png" class="fb" rel="instr" title="Ukončení kreslení mapy"><img src="{{ MEDIA_URL }}img/instruction/hotovo_t.png" width="250"></a>
    </ul>

    <h4>Nakreslení mapy budov</h4>
    <ul>
        <li>V levém sloupci klikněte na odkaz "Moje mapy" a poté na "Vytvořit novou mapu"
        <li>Do políčka nadpis zadejte např. "Budovy ve Vsetíně".
        <li>Stejně jako v případě heren můžete začít do mapy přidávat špendlíky označující
          konkrétní budovy v obci, v jejichž sousedství nesmějí být herny provozovány
          (<a href="http://www.osbrneni.cz/regulace-hazardu/budovy">kompletní seznam budov</a>).
        <li>Přesnějších výsledků ale dosáhnete, pokud namísto špendlíků obkreslíte
          půdorys budov &mdash; stačí stisknout levé tlačítko myši
          nad ikonou lomené čáry, a vybrat v menu položku "Nakreslit tvar". Poté
          v mapě postupně klikejte na rohy budovy.
          <a href="{{ MEDIA_URL }}img/instruction/obrysy.png" class="fb" rel="instr" title="Funkce 'Nakreslit tvar' pro vytvoření obrysu budovy"><img src="{{ MEDIA_URL }}img/instruction/obrysy_t.png" width="250"></a>
        <li>Do políčka "Nadpis" v bublině zadejte název budovy a pokud chcete, do pole
          "Popis" pak další doplňující údaje.
        <li>Až budete mít všechny budovy v mapě zaneseny, klikněte na tlačítko "Hotovo"
          v levém sloupci.
    </ul>

    <h4>Vložení map na web MapyHazardu.cz</h4>
    <p>Tak. Největší práce je za vámi. Teď už chybí poslední střípek &mdash;
    vložit odkazy map do naší aplikace:</p>
    <ul>
        <li>V levém sloupci klikněte na odkaz "Moje mapy" a vyberte mapu s hernami.
        <li>Klikněte pravým tlačítkem myši nad odkazem "Zobrazit v aplikaci Google Earth"
          (modrý proužek nad mapou) a vyberte z kontextového menu položku "Kopírovat
          adresu odkazu".
          <a href="{{ MEDIA_URL }}img/instruction/kml.png" class="fb" rel="instr" title="Získání URL odkazu na vytvořenou mapu"><img src="{{ MEDIA_URL }}img/instruction/kml_t.png" width="250"></a>
        <li>Otevřete si v prohlížeči novou záložku a navštivte adresu <a href="{% url entry-form %}">Přidat obec</a>. Klikněte
          myší do políčka "Mapa heren" a stiskněte klávesy CTRL+V (příp. Cmd+V na Macu).
        <li>Vraťte se zpět do Google map, stejným postupem zjistěte URL adresu mapy budov
          a vložte ji do políčka "Mapa budov".
        <li>Vyplňte políčko s kontaktním emailem a klikněte na tlačítko "Nahrát
          mapy".
        <li>Po chvíli se objeví stránka s vaší obcí. Sledujte prosím informační
          hlášky v levém sloupci, ve které se dozvíte zda byla vaše data přijata
          či nikoliv. V případě obtíží nás prosím <a href="{% url contact %}">zkontaktujte</a>.
    </ul>

{% endblock %}
