{% extends "bone.html" %}

{% block title %}Kontakt &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <h3>Regulace hazardu dle § 17, odst. 11, zákona o loteriích (sousedství)</h3>

    <p>Dle § 17, odst. 11: „Provozování výherních hracích přístrojů nesmí být
    povoleno ve školách, školských zařízeních, v zařízeních sociální a
    zdravotní péče, v budovách státních orgánů a církví, jakož i v sousedství
    uvedených budov. Okruh vzdálenosti do 100&nbsp;m od těchto budov může stanovit
    obec vyhláškou.“</p>

    <p>Pro lepší pochopení převeďme tento odstavec do srozumitelnějšího
    vyjádření: V určitých objektech nesmí být povolen výherní hrací přístroj,
    VHP. Dokonce nesmí být povolen ani v tzv. „sousedství“ těchto míst.
    Sousedství je vzdálenost cirka 100&nbsp;m, přičemž zastupitelstvo obce může
    obecně závaznou vyhláškou tento okruh přesně definovat, nikoliv však více
    než 100&nbsp;m. (Potom je pro regulací vhodnější využít § 50, odst. 4,
    zákona)</p>

    <p>Zmíněné „sousedství“ patří právně do oblasti tzv. neurčitých pojmů. V
    tomto „historickém“ zákoně z roku 1990 není explicitně řečeno, kam až
    přesně sousedství bez dalšího upřesnění sahá, z textu zákona lze však
    vyvodi, že se jedná o okruh cirka 100&nbsp;m – o jiný údaj se v zákoně opřít
    nelze a nelze souhlasit s tím, že pojem „sousedství“ si může každý vykládat
    zcela libovolně, pro jednoho 1 m pro druhého 2 km. To potvrzuje i výrok
    Nejvyššího správního soudu, který v rozsudku z dubna 2009 uvádí: „V případě
    absence obecně závazné vyhlášky ne všechna místa do vzdálenosti 100&nbsp;m od
    uvedených budov budou nutně představovat naplnění pojmu sousedství (…);
    takto koncipovaný závěr by byl příliš přímočarý, zjednodušující a ve svých
    důsledcích by mohl být i neopodstatněně restriktivní (např. pokud by od
    sebe byly budova školy a provozovny vzdáleny vzdušnou čarou méně než 100&nbsp;m
    a současně by byly odděleny řekou, jež by mezi nimi činila přirozenou
    překážku).“</p>

    <p>Situace bez existující obecně závazné vyhlášky, která by pevně
    stanovovala okruh od „chráněných“ budov, pro povolovací orgán znamená:
    Existují příklady – Berlínská zeď, řeka bez mostu, ostnaté ploty se
    zátarasy a minovým polem – kdy sousedství ve smyslu tohoto zákona může být
    kratší než 100&nbsp;m. Avšak v ostatních případech nemá úřad oporu pro
    odůvodnění, proč např. 50 m není sousedství. Zákonodárce totiž touto části
    zákona deklaroval, že hazard si nepřeje na velkém počtu míst (vedle škol –
    ochrana mladistvých; vedle armády spásy či správy sociálního zabezpečení –
    ochrana sociálně slabých; vedle soudů a všech budov státních správy, či
    nemocnic – z hlediska důstojnosti úřadu).</p>

    <p>Podstatné pro rozhodování úřadu, který nemá „na pomoc" vyhlášku, je:</p>

    <ol>
        <li>Úřad musí respektovat výklad Nejvyššího správního soudu (z let 2007
        či 2009) a VHP do 100&nbsp;m od chráněných budov může povolit jen ve
        výjimečných případech, kdy docházková vzdálenost od budovy k herně je
        výrazně větší než 100m&nbsp;vzdušná vzdálenost.</li>

        <li>Úřad musí při povolení VHP zdůvodnit, proč ho na základě kolize se
        „sousedstvím“ nepovolil a naopak.</li>

        <li>Úřad se musí v posuzování sousedství chovat předvídatelně, v
        ekvivalentních případech rozhodovat stejně.</li>

        <li>Všechny budovy zmíněné v § 17, odst. 11 jsou si co do posuzování
        míry jejich sousedství rovnocenné. Úřad nemá při posuzování sousedství
        rozlišovat, zda posuzuje sousedství školky (škola nebo školské
        zařízení), fary (budova církve) nebo České inspekce životního prostředí
        (státní orgán). Má striktně hodnotit jen samotné naplnění pojmu
        sousedství, které je stejně „velké“, ať se jedná o kteroukoliv v zákoně
        zmíněných budov.</li>
    </ol>

    <p>Na základě nálezu Ústavního soudu ze dne 14. června 2010 se předmětný
    paragraf v plném rozsahu vztahuje i na přístroje povolované Ministerstvem
    financí, tzv. videoloterní terminály, či technická hrací zařízení.</p>
{% endblock %}
