{% extends "bone.html" %}

{% block title %}Podporují nás &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <h3>Podporují nás</h3>
    <br>
    <p><a href="http://www.osf.cz/" title="Nadace Open Society Fund Praha"><img src="{{ MEDIA_URL }}img/osf.png" width="300" height="64" alt="Nadace Open Society Fund Praha" /></a> &nbsp; <a style="vertical-align:top" href="http://www.nadacevia.cz/" title="Nadace VIA"><img style="vertical-align:top" src="{{ MEDIA_URL }}img/nadace-via.png" width="59" height="100" alt="Nadace VIA" /></a></p>
    <p><a href="http://www.ceetrust.org/" title="CEE TRUST - Trust for Civil Society in Central and Eastern Europe"><img src="{{ MEDIA_URL }}img/cee-trust.png" width="300" height="132" alt="CEE TRUST - Trust for Civil Society in Central and Eastern Europe" /></a></p>
{% endblock %}
