.tright {
    text-align:right;
}

.big {
    font-size:120%;
}
.percentage {
    line-height:100%;
    font-size:340%;
    font-weight:bold;
    padding:0 0 20px 0;
    margin:0;
    float:left;
    padding:0 15px 10px 0;
}

#id_buildings, #id_hells, #id_email {
    width:98%;
}

#info_box {
    background:#333;
    color:#eee;
    position:fixed;
    left:30px;
    top:30px;
    width:360px;
    z-index:100;
    padding:15px 20px;
    height:80%;
}
#info_box h1,
#info_box h2,
#info_box h3,
#info_box h4,
#info_box h5,
#info_box h6 {
    color:#eee;
}
#info_box a {
    color:#ffc31e;
    text-decoration:none;
}
#info_box a:hover {
    color:#ffc31e;
    text-decoration:underline;
}


/*
.inner_box {
    padding:15px 20px;
    background:#ffc31e;
    color:#333;
    margin-bottom:15px;
}
*/
#inner_box {
    overflow:auto;
    height:74%;
}

body {
    height:500px;
    width:100%;
    z-index:0;
}

#header {
    position:fixed;
    z-index:100;
}

table {
    border-top:1px dotted #eee;
    border-spacing:0;
    border-collapse:collapse;
}
td, th {
    border-spacing:0;
}
tr {
    border-bottom:1px dotted #eee;
}
tbody tr:nth-child(even) td, tbody tr.even td {
    background:transparent;
}
#nav {
    padding-bottom:2px;
    color:#999;
}
#nav a {
    padding-right:2px;
    padding-left:2px;
}
#nav a.nop {
    padding-left:0px;
}
.group {
    position:absolute;
    background:url(http://media.parkujujakcyp.cz/hazard/img/percent.png);
    width:40px;
    height:40px;
    font-size:11px;
    font-weight:bold;
    text-align:center;
}
.group p {
    padding-top:12px;
    padding-left:1px;
}
.slide {
    position:absolute;
    width:40px;
    height:40px;
}
.slide:hover {
    cursor:pointer;
}
.errorlist {
    background:#fbe3e4;
    color:#8a1f11;
    margin:0;
    padding:.8em;
    font-style:italic;
}
.error, .success {
    border:none;
}
.helptext {
    font-style:italic;
}
#messages span {
    display:block;
}
#fancybox-content {
    text-align:center;
}
a.fb {
    display:block;
    padding-top:5px;
    padding-bottom:5px;
}
#topici td span {
    cursor:help;
}
html {font-size:110.01%;}


#hide {
    float:right;
}
