.tright {
    text-align:right;
}

.big {
    font-size:120%;
}
.percentage {
    line-height:100%;
    font-size:500%;
    font-weight:bold;
    padding:0 0 20px 0;
    margin:0;
    float:left;
    padding:0 15px 10px 0;
    /*color:#e53404;*/
}

#id_buildings, #id_hells {
    width:98%;
}

#info_box {
    background:#333;
    color:#eee;
    position:fixed;
    left:30px;
    top:30px;
    width:300px;
    z-index:100;
    padding:15px 20px;
    height:80%;
}
#info_box h1,
#info_box h2,
#info_box h3,
#info_box h4,
#info_box h5,
#info_box h6 {
    color:#eee;
}
#info_box a {
    color:#ffc31e;
    text-decoration:none;
}
#info_box a:hover {
    color:#ffc31e;
    text-decoration:underline;
}


/*
.inner_box {
    padding:15px 20px;
    background:#ffc31e;
    color:#333;
    margin-bottom:15px;
}
*/
#inner_box {
    overflow:scroll;
    height:80%;
}

body {
    height:700px;
    width:100%;
    z-index:0;
}

#header {
    position:fixed;
    z-index:100;
}

table {
    border-top:1px dotted #eee;
    border-collapse: collapse;
}
td {
    border-bottom:1px dotted #eee;
}
tbody tr:nth-child(even) td, tbody tr.even td {
    background:transparent;
}
#nav {
    padding-top:5px;
}
