{% extends "pages/base.html" %}

{% load markup %}

{% block title %}{{ new.title }} | Zprávy | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <a href="/">Úvodní stránka</a> » <a href="{% url new-list %}">Zprávy</a> » <span>{{ new.title }}</span>
{% endblock %}

{% block main %}
    <h1>{{ new.title }}</h1>

    <p>{{ new.created|date }}</p>

    <div class="span-8 sidebar">
        {% if new.annotation %}
            <div class="box">
                <p><b>{{ new.annotation }}</b></p>
            </div>
        {% endif %}
    </div>
    <div class="span-16 last text">
        {{ new.content|markdown }}
    </div>
    <div class="clear"></div>
{% endblock %}
