{% extends "bone.html" %}

{% load markup %}

{% block main %}
    <p id="breadcrumb"><a href="/">Úvodní stránka</a> &raquo; <a href="{% url new-list %}">Zprávy</a></p>
    <h1>{{ new.title }}</h1>
    <p>{{ new.created|date }}</p>

    <div class="span-8">
        {% if new.annotation %}
            <p><b>{{ new.annotation }}</b></p>
        {% endif %}
    </div>

    <div class="span-15 prepend-1 last">
        {{ new.content|markdown }}
    </div>

    <div class="clear"></div>
{% endblock %}
