{% extends "pages/base.html" %}

{% load news %}

{% block title %}Zprávy |{{ block.super }}{% endblock %}

{% block breadcrumb %}
    <a href="/">Úvodní stránka</a> » <span>Zprávy</span>
{% endblock %}

{% block main %}
    <h1>Zprávy</h1>

    {% if news %}
        {% for new in news %}
            <div class="{% if forloop.counter|divisibleby:3 %}span-8 last{% else %}span-8{% endif %}">
                <h3><a href="{{ new.get_absolute_url }}">{{ new.title }}</a></h3>
                <p><strong>{{ new.created|date }}</strong> &mdash; {{ new.annotation }}</p>
            </div>
            {% if forloop.counter|divisibleby:3 or forloop.last %}
                <div class="clear"></div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p><em>Zatím nebyla publikována žádná zpráva.</em></p>
    {% endif %}
{% endblock %}
