#map {
  height: 400px;
  background: #eee url(../img/ajax-loader2.gif) 50% 50% no-repeat;
}
#campaign-menu a {
    padding:10px;
    text-decoration:none;
}
#campaign-menu a.active {
    color:#E5ECF9;
    background:#06c;
}
