{% extends "pages/base.html" %}

{% load chunks %}

{% block title %}Kampaň | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <a href="/">Úvodní stránka</a> » <span>Kampaně</span>
{% endblock %}

{% block main %}
    <h1>Kampaně</h1>

    <div class="span-8 sidebar">
        <div class="box">
            {% chunk "kampan-uvod" %}
        </div>
    </div>
    <div class="span-16 last text">
        {% chunk "kampan-text1" %}

        <h3>Zpracované kampaně</h3>
        {% for campaign in campaigns %}
            <li><strong><a href="{{ campaign.get_absolute_url }}">{{ campaign.title }}</a></strong><br>
            {{ campaign.description|striptags }} &mdash; <a href="{{ campaign.get_absolute_url }}">Další podrobnosti</a>…</p></li>
        {% endfor %}

        {% chunk "kampan-text2" %}
    </div>
    <div class="clear"></div>
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
