{% extends "territories/base.html" %}

{% load webdesign %}

{% block campaign_menu %}{% endblock %}

{% block main_header %}
    <h1>Kampaň</h1>
{% endblock %}

{% block breadcrumb %}
    <a href="/">Úvodní stránka</a>
{% endblock %}

{% block content %}
    <div class="span-12">
        <h2 class="todo">
            Jde o hazard. Pohledu na nej je hodne. Pokusime se postupne
            odhalovat nejruznejsi souvislosti v tzv. kampanich. Bla, bla...
        </h2>
    </div>
    <div class="clear"> </div>

    <div class="span-12">
        {% for campaign in campaigns %}
            <h4><a href="{{ campaign.get_absolute_url }}">{{ campaign.title }}</a></h4>
            <p>{{ campaign.description|striptags }} &mdash; <a href="{{ campaign.get_absolute_url }}">Další podrobnosti</a>…</p>
        {% endfor %}
    </div>

    <div class="span-12 todo last">
        <h3>Chystáme</h3>
        <ul>
            <li>mapovani obecnich vyhlasek</li>
            <li>utraty loterijnich spolecnosti do neziskovek</li>
        </ul>
        <p>Mate pro nas tip na dalsi kampan? <a href="#">Sem s nim</a></p>
    </div>
    <div class="clear"> </div>
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
