{% extends "mf/campaign_subbase.html" %}

{% block content %}
    <h2>O co nám jde?</h2>
    <div class="span-12">
        <p>Cílem této kampaně je ukázat, že Ministerstvo financí v
        minulosti povolovalo hazardní přístroje v rozporu se zákonem o
        loteriích, s ustanovením zakazujícím povolit hazardní přístroj v
        sousedství škol, školských zařízení, zařízení sociální a zdravotní
        péče, budov státních orgánů a církví.</p>

        <p>Na základě zjištěného porušení sousedství, ale i na základě
        dalších porušení zákona, budeme po Ministerstvu financí požadovat
        zrušení povolení pro tyto přístroje.</p>

        <p>Tato mapa konfliktu sousedství s povoleními Ministerstva
        financí, nebyla na rozdíl od původní verze MapyHazardu.cz dělána
        ručně, nýbrž „strojově“. Jelikož míst, kam povolilo Ministerstvo
        financí hazardní přístroj je XX.000, nebylo v našich silách
        vkládat pozice heren do mapy ručně jednu po druhé. Přechroustali
        jsme proto adresy heren převaděčem adres na GPS souřadnice a tyto
        jsme zobrazili v mapě.</p>

        <p>Podobně jsme postupovali i u budov – získali jsme registry
        škol......., kde jsme adresu opět strojově převedli na GPS, jako
        bod.</p>

        <p>Zjištěné výsledky jsou proto jen přibližné! Nemáme v mapě
        všechny budovy. Budovy nejsou vykresleny polygonem, ale jen bodem.
        Umístění bodu pro hernu také hraje roli při vzdálenostech blízkých
        100 m. Údaje o počtu protiprávně povolených hazardních přístrojů
        jsou proto podhodnocené, pokud porovnáme data vytvořená strojově
        počítačem, s daty zadávanými a kontrolovanými ručně s původní
        verze Map Hazardu, zjistíme, že skutečný stav je cca 2x horší – ve
        smyslu 2x častěji porušovaný zákon.</p>

        <p>Pokud chcete vytvořit komplexní a přesnou mapu hazardu ve Vaší
        obci, abyste s ní mohli dále pracovat využijte prosím původní
        verze map, kde je popsán postup, jak mapu vytvořit –
        <span class="todo">www.mapyhazardu.cz/puvodni</span>.
    </div>
    <div class="span-12 last">
    </div>
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
