{% extends "territories/base.html" %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/mf.css" type="text/css" media="screen">
{% endblock %}

{% block breadcrumb %}
    {% include "mf/breadcrumb.html" %}
{% endblock %}

{% block submenu %}
    {% include "mf/submenu.html" %}
{% endblock %}

{% block content %}
    {% block main_content %}
        <div class="span-10">
            {% block text_content %}{% endblock %}
        </div>

        {# mapa #}
        <div class="span-14 last">
            <p>
                Zobraz
                <select id="table-switcher">
                    <option title="celkového počtu" value="counts">celkový počet</option>
                    <option title="počtu nezákonně povolených" value="conflict_counts">počet nezákonně povolených</option>
                    <option title="poměru nezákonně/zákonně povolených" value="conflict_perc">poměr nezákonně/zákonně povolených</option>
                </select>
                <select id="type-switcher">
                    <option title="heren" value="hells">heren</option>
                    <option title="automatů" value="machines">automatů</option>
                </select>
                <a id="select-handler" href="#">Legenda +</a>
            </p>
            <div id="select-legend">
                {% block select_legend %}{% endblock %}
            </div>
            <div style="position:relative">
                <div id="map-legend" class="hells"><span class="max"></span><span class="min"></span></div>
                {% block map %}
                    <div id="map"></div>
                {% endblock %}
            </div>
        </div>
        <div class="clear"></div>
    {% endblock %}
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
