{% extends "territories/base.html" %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/mf.css" type="text/css" media="screen">
{% endblock %}

{% block breadcrumb %}
    <a href="/">Česká republika</a> {% if district %}&raquo; <a href="{% url region region=region.slug %}">{{ region.title }}</a> {% if town %}&raquo; <a href="{% url district region=region.slug district=district.slug %}">{{ district.title }}</a>{% endif %}{% endif %}
{% endblock %}

{% block submenu %}
    {% if town %}
        <div class="box" style="margin-bottom:0;position:relative;top:-13px;padding:10px;text-decoration:none;color:#E5ECF9;background:#06c;">
            {% url mf-town region=region.slug district=district.slug town=town.slug campaign="mf" as town_url %}
            {% url mf-town-map region=region.slug district=district.slug town=town.slug campaign="mf" as town_map_url %}
            {% url mf-town-hells-list region=region.slug district=district.slug town=town.slug campaign="mf" as hells_list_url %}
            {% url mf-town-buildings-list region=region.slug district=district.slug town=town.slug campaign="mf" as buildings_list_url %}
            <a style="color:#E5ECF9;text-decoration:none;padding-right:1em;" href="{{ town_url }}">Základní přehled</a>
            <a style="color:#E5ECF9;text-decoration:none;padding-right:1em;" href="{{ town_map_url }}">Podrobná mapa</a>
            <a style="color:#E5ECF9;text-decoration:none;padding-right:1em;" href="{{ hells_list_url }}">Seznam heren</a>
            <a style="color:#E5ECF9;text-decoration:none;padding-right:1em;" href="{{ buildings_list_url }}">Seznam budov</a>
            <a style="color:#E5ECF9;text-decoration:none;padding-right:1em;" href="#">Export</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% block main_content %}
        <div class="span-10">
            {% block text_content %}{% endblock %}
        </div>

        {# mapa #}
        <div class="span-14 last">
            <p>
                Zobrazit
                <select id="type-switcher">
                    <option title="heren" value="hells">herny</option>
                    <option title="automatů" value="machines">automaty</option>
                </select>
                &mdash;
                <select id="table-switcher">
                    <option title="celkového počtu" value="counts">jejich celkový počet</option>
                    <option title="počtu nezákonně povolených" value="conflict_counts">počet nezákonně povolených</option>
                    <option title="poměru nezákonně/zákonně povolených" value="conflict_perc">poměr nezákonně/zákonně povolených</option>
                </select>
            </p>
            {% block map %}
                <div id="map"></div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
