<a href="/">Úvodní stránka</a>
{% if district %}
    &raquo; <a href="{% url region region=region.slug %}" class="region_{{ region.slug }}" id="region-breadcrumb">{{ region.title }}</a>
    {% if town %}
        &raquo; <a href="{% url district region=region.slug district=district.slug %}">{{ district.title }}</a>
        &raquo; <span>{{ town.title }}</span>
    {% else %}
        &raquo; <span>{{ district.title }}</span>
    {% endif %}
{% else %}
    &raquo; <span>{{ region.title }}</span>
{% endif %}
