{% extends "territories/base.html" %}

{% block breadcrumb %}
    <a href="/kampan/">Kampane</a>
{% endblock %}

{% block campaign_menu %}{% endblock %}

{% block main_header %}
    <h1>{{ campaign.title }}</h1>
{% endblock %}

{% block submenu %}
    <p>
        <a href="{% url campaign-mf-homepage campaign=campaign.slug %}">Popis</a> |
        <a href="{% url campaign-mf-help campaign=campaign.slug %}">Pomozte nám</a> |
        <a href="{% url campaign-mf-law campaign=campaign.slug %}">Porušování zákona</a> |
        <a href="{% url campaign-mf-timeline campaign=campaign.slug %}">Časový vývoj</a> |
        <a href="{% url campaign-mf-about campaign=campaign.slug %}">O mapě</a> |
        <a href="{% url campaign-mf-dictionary campaign=campaign.slug %}">Slovníček</a>
    </p>
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
