{% extends base_template %}

{% load shared mf %}

{% block title %}{{ district.title }} (kampaň {{ campaign.get_title }}){% endblock %}

{% block main_header %}
    <h1>{{ district.title }}</h1>
{% endblock %}

{% block left_col %}
    {# uvodni text #}
    <div id="primer">
        {% block primer_content %}
            {# TODO: mohl bych tu konecne zrealizovat i to vyrazeni grafu, pokud v obci nic neni #}
            {% mf_primer_text district %}
        {% endblock %}
    </div>

    <h3>Situace v ostatních okresech</h3>
    {% mf_table "district" %}

    <h3>Situace v obcích</h3>
    <p>Zajímá vás spíše podrobnější situace na úrovni jednotlivých obcí okresu?</p>
    {% block sub_objects %}
        {% mf_sub_objects district %}
    {% endblock %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include "mf/territories_js.html" %}
{% endblock %}

{% block plain_js %}
    {{ block.super }}
    {% include "mf/js_templates.html" %}
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
