{% extends base_template %}

{% load shared mf %}

{% block main_header %}
    <h1>{{ district.title }}</h1>
{% endblock %}

{% block left_col %}
    {# uvodni text #}
    <div id="primer">
        {% block primer_content %}
            {# TODO: mohl bych tu konecne zrealizovat i to vyrazeni grafu, pokud v obci nic neni #}
            {% mf_primer_text district %}
        {% endblock %}
    </div>

    <h3>Situace v ostatních okresech</h3>
    {% mf_table "district" %}

    {# TODO: linky na nizsi uzemni celky #}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo-min.js"></script>
    {# sablona pro radek s krajem #}
    <script type="text/template" id="region-item-template">
        <td>
            <a href="<%= url %>"><%= title %></a>
        </td>
        <% _.each(statistics, function(item){ %> <td class="<%= item.type %> <%= item.parameter %><%= (item.type != type || item.parameter != parameter) ? ' hide' : '' %>"><%= item.value %></td> <% }); %>
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/region.js"></script>
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
