{% extends "mf/campaign_subbase.html" %}

{% load chunks %}

{% block title %}Pomozte | {{ campaign.title }} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <a href="/">Úvodní stránka</a> » <a href="{% url campaign-homepage %}">Kampaně</a> » <a href="{{ campaign.get_absolute_url }}">{{ campaign.title }}</a> » <span>Pomozte</span>
{% endblock %}

{% block inner_main %}
    <h2>Pomozte</h2>

    <div class="span-8 sidebar">
        <div class="box">
            {% chunk "kampan-mf-pomozte-perex" %}
        </div>
    </div>

    <div class="span-16 last text">
        {% chunk "kampan-mf-pomozte" %}
    </div>
    <div class="clear"></div>
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
