{% extends "mf/campaign_base.html" %}

{% load chunks %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" type="text/css" media="screen">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/mf_homepage.js"></script>
{% endblock %}

{% block content %}
    {# uvodni lajna #}
    <div class="span-11 append-1">
        <h2 style="line-height:120%;">{{ campaign.description|safe }}</h2>
        <p style="margin-bottom:0"><b>Znáte situaci ve vašem regionu?</b></p>
        <p style="margin-bottom:0"><input placeholder="Zadejte název obce, okresu nebo kraje" style="width:95%; height:32px; font-size:18px;" type="text" name="search" id="search"></p>
    </div>
    <div class="span-12 last">
        <div id="map" style="height:290px"></div>
        {% chunk "kampan-mf-popis-mapy" %}
    </div>
    <div class="clear"></div>
    <br><br>

    {# druha lajna #}
    <div class="span-12">
        {% chunk "kampan-mf-text" %}
    </div>
    <div class="span-12 last">
        <h3>Související informace</h3>
        <div class="span-5 box" style="height:120px">
            {% chunk "kampan-mf-box1" %}
        </div>
        <div class="span-5 box last" style="height:120px">
            {% chunk "kampan-mf-box2" %}
        </div>
        <div class="span-5 box">
            {% chunk "kampan-mf-box3" %}
        </div>
        <div class="span-5 box last" style="height:135px">
            {% chunk "kampan-mf-box4" %}
        </div>

    </div>
    <div class="clear"></div>
    <br><hr>
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
