{% load shared mf %}
{% variable statistics.hell_counts|key:obj.id as hell_counts %}

{# uvodni veta #}
<h2>
    {% if hell_counts > 0 %}
        {# nejake herny v dane oblasti jsou #}
        {% variable statistics.conflict_hell_counts|key:obj.id as conflict_hell_counts %}
        {% if conflict_hell_counts > 0 %}
            {# nektere z nich jsou v konfliktu se zakonem #}
            <span class="title"><b>{{ obj.get_lokativ }}</b></span> povolilo Ministerstvo financí k 31. 12. 2011 provoz
            {% if hells %}
                <b>{{ conflict_hell_counts }}&nbsp;{{ conflict_hell_counts|grammar:"0=heren,1=herny,?=heren" }}</b>
                ({{ statistics.conflict_hell_perc|key:obj.id|floatformat:1 }}% z&nbsp;{{ statistics.hell_counts|key:obj.id }})
            {% else %}
                {% variable statistics.conflict_machine_counts|key:obj.id as conflict_machine_counts %}
                <b>{{ conflict_machine_counts }}&nbsp;{{ conflict_machine_counts|grammar:"0=automatů,1=automatu,?=automatů" }}</b>
                ({{ statistics.conflict_machine_perc|key:obj.id|floatformat:1 }}% z&nbsp;{{ statistics.machine_counts|key:obj.id }})
            {% endif %}
            v rozporu se <a href="#">zákonem</a>.
        {% else %}
            {# herny tu jsou, ale vsechny jsou ok #}
            <span class="title"><b>{{ obj.get_lokativ }}</b></span> není ani
            {% if hells %}
                jedna herna
            {% else %}
                jeden automat
            {% endif %}
            v rozporu se <a href="#">zákonem</a>.
        {% endif %}
    {% else %}
        <span class="title"><b>{{ obj.get_lokativ }}</b></span> není provozována ani
        {% if hells %}
            jedna herna.
        {% else %}
            jeden automat.
        {% endif %}
        Gratulujeme!
    {% endif %}
</h2>

{# nasleduje veta o poradi, tu ale generuje javascript #}

{# vypis podrazenych geo oblasti #}
{% if detail_title %}
    <p class="sub-objects">
        Další podrobnosti o {{ detail_title }}:
        {% for subobject in subobjects %}
            {% mf_table_url subobject as subobject_url %}
            <span><a href="{{ subobject_url }}">{{ subobject|remove_str:prefix }}</a>{% if forloop.last %}.{% else %},{% endif %}</span>
        {% endfor %}
    </p>
{% endif %}

{# vysvetleni kampane #}
<p><a href="{% url campaign-mf-homepage campaign=campaign %}">Podrobné vysvětlení této kampaně</a> &raquo;</p>
