{% load shared mf %}

<div class="wrapper">
    <table id="statistics">
        <thead>
            <tr>
                <th rowspan="2">
                    {{ object_title }}
                </th>
                <th colspan="3" class="hells">
                    Herny
                </th>
                <th colspan="3" class="machines">
                    Automaty
                </th>
            </tr>
            <tr>
                <th class="hells counts">
                    Celkem
                </th>
                <th class="hells conflict_counts">
                    Počet konfliktních
                </th>
                <th class="hells conflict_perc">
                    Poměr konfliktních/nekonfliktích
                </th>
                <th class="machines counts">
                    Celkem
                </th>
                <th class="machines conflict_counts">
                    Počet konfliktních
                </th>
                <th class="machines conflict_perc">
                    Poměr konfliktních/nekonfliktích
                </th>
            </tr>
        </thead>
        <tbody>
            {% for id, object in objects.items %}
                <tr id="region_{{ object.slug }}" class="{% if object.id == actual_object.id %}active{% endif %} {% firstof parent_class|key:object.id "" %}">
                    {% mf_table_url object as url %}
                    <td>
                        <a href="{{ url }}">{{ object.title|space2nbsp }}</a>
                    </td>
                    {# herny #}
                    <td class="hells counts">
                        {{ statistics.hells.counts|key:object.id|default:"" }}
                    </td>
                    <td class="hells conflict_counts">
                        {{ statistics.hells.conflict_counts|key:object.id|default:"" }}
                    </td>
                    <td class="hells conflict_perc">
                        {% if statistics.hells.conflict_perc|key:object.id %}
                            {{ statistics.hells.conflict_perc|key:object.id|floatformat:1 }}%
                        {% endif %}
                    </td>
                    {# maty #}
                    <td class="machines counts">
                        {{ statistics.machines.counts|key:object.id|default:"" }}
                    </td>
                    <td class="machines conflict_counts">
                        {{ statistics.machines.conflict_counts|key:object.id|default:"" }}
                    </td>
                    <td class="machines conflict_perc">
                        {% if statistics.machines.conflict_perc|key:object.id %}
                            {{ statistics.machines.conflict_perc|key:object.id|floatformat:1 }}%
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
