{% extends base_template %}

{% load shared mf %}

{% block title %}{{ region.title }} (kampaň {{ campaign.get_title }}){% endblock %}

{% block main_header %}
    <h1>{{ region.title }}</h1>
{% endblock %}

{% block left_col %}
    {# uvodni text #}
    <div id="primer">
        {% block primer_content %}
            {# TODO: mohl bych tu konecne zrealizovat i to vyrazeni grafu, pokud v obci nic neni #}
            {% mf_primer_text region %}
        {% endblock %}
    </div>

    <h3 class="sedySikmy">Situace v ostatních krajích</h3>
    {% mf_table "region" %}

    <h3 class="sedySikmy">Situace v okresech</h3>
    <p>Zajímá vás spíše podrobnější situace na úrovni bývalých okresů?</p>
    {% block sub_objects %}
        {% mf_sub_objects region %}
    {% endblock %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include "mf/territories_js.html" %}
{% endblock %}

{% block plain_js %}
    {{ block.super }}
    {% include "mf/js_templates.html" %}
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
