{% extends base_template %}

{% load shared mf %}

{% block main_header %}
    <h1>{{ region.title }}</h1>
{% endblock %}

{% block left_col %}
    {# uvodni text #}
    <div id="primer">
        {% block primer_content %}
            {# TODO: mohl bych tu konecne zrealizovat i to vyrazeni grafu, pokud v obci nic neni #}
            {% mf_primer_text region %}
        {% endblock %}
    </div>

    {# tabulka s kraji #}
    <h3>Situace v ostatních krajích</h3>
    {% mf_table "region" %}

    {# linky na nizsi uzemni celky #}
    <div id="subobjects">
        {# TODO: tohle budu muset vyriznout z puvodniho mf_primer_text #}
        {% comment %}
        <p>Zajímá vás podrobná situace v <b>okresech</b> Zlínského kraje?</p>
        <ul>
            <li><a href="/zlinsky/kromeriz/kampan/mf/">Kroměříž</a></li>
            <li><a href="/zlinsky/uherske-hradiste/kampan/mf/">Uherské Hradiště</a></li>
            <li><a href="/zlinsky/vsetin/kampan/mf/">Vsetín</a></li>
            <li><a href="/zlinsky/zlin/kampan/mf/">Zlín</a></li>
        </ul>
        {% endcomment %}
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo-min.js"></script>
    {# sablona pro radek s krajem #}
    <script type="text/template" id="region-item-template">
        <td>
            <a href="<%= url %>"><%= title %></a>
        </td>
        <% _.each(statistics, function(item){ %> <td class="<%= item.type %> <%= item.parameter %><%= (item.type != type || item.parameter != parameter) ? ' hide' : '' %>"><%= item.value %></td> <% }); %>
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/region.js"></script>
{% endblock %}
{# vim: set et si ts=4 sw=4 syn=django: #}
