{% extends "mf/campaign_subbase.html" %}

{% load webdesign %}

{% block content %}
    <h2>Časový vývoj</h2>

    <div class="important">
        <div class="span-4">
            <h4>Rok 2005 (přibližně)</h4>
        </div>
        <div class="span-10">
            <p>Objevila se nová generace automatů, VLT, která byla výkladem zákona
            pojímána jako zcela nový přístroj, který zákon nezná. Povolovalo je
            proto na základě zmocnění v zákoně Ministerstvo financí. A to tak, že
            ignorovalo veškeré vyhlášky a ustanovení zákona a povolovalo všechno
            všude, po tisících.</p>
        </div>
        <div class="span-10 last">
            <div class="box todo">
                embedovana timelajna
            </div>
        </div>
    </div>
    <div class="clear"></div>


    <div class="span-4">
        <h4>15. květen 2009</h4>
    </div>
    <div class="span-10">
        <p><a
        href="http://www.mfcr.cz/cps/rde/xchg/mfcr/xsl/podminky_povolovani_48010.html">„Průlomové“
        rozhodnutí MF</a>: <i>„S účinností od 1. června 2009 bude
        Státní dozor nad sázkovými hrami a loteriemi Ministerstva financí
        požadovat, aby žádosti o vydání povolení do míst, na něž se vztahuje
        vyhláška příslušné obce o regulaci provozu výherních hracích přístrojů
        obsahovaly prohlášení žadatele, že došlo k dohodě s obcí a obec nemá
        námitky proti vydání povolení k provozování technického zařízení v
        takto dotčeném místě.<br>
        V případě, že žádost prohlášení žadatele obsahovat nebude, Státní
        dozor nad sázkovými hrami a loteriemi Ministerstva financí povolení
        nevydá.“</i></p>

        <p>Jenže před platností tohoto nařízení někdo z MF <a
        href="http://chrastava.cz/2009/sos-us.htm">obvolal všechny
        provozovatele a povolili jim VLT na 10 let</a>.</p>
    </div>
    <div class="clear"></div>


    <div class="span-4">
        <h4>31. srpna 2009</h4>
    </div>
    <div class="span-10">
        <p>Chrastava přijala v reakci na rozhodnutí MF <a
        href="http://chrastava.cz/muinfo/vyhl/vy0904.pdf">obecně závaznou
        vyhlášku 4/2009</a>, kterou provoz hazardních přístrojů až čtyři místa
        zakázala.</p>
    </div>
    <div class="clear"></div>


    <div class="span-4">
        <h4>19. října 2009</h4>
    </div>
    <div class="span-10">
        <p>Chrastava přijala v reakci na rozhodnutí MF další <a
        href="http://www.chrastava.com/starosta/vyhl-09-05.pdf">obecně závaznou
        vyhlášku 5/2009</a>, kde provoz ministerských přístrojů zakázala, když
        konstatovala, že videoloterní terminál spadá pod definici výherního
        hracího přístroje.</p>
    </div>
    <div class="clear"></div>


    <div class="important">
        <div class="span-4">
            <h4>29. října 2009</h4>
        </div>
        <div class="span-10">
            <p>Vykopli ze Státního dozoru paní, <span class="todo">co to tehdy vedla</span>, Vrlovou, protože
            chtěla, aby se metodika z 15. května dodržovala (sic!). Na vedení
            Státního dozoru nad sázkovými hrami nasadili Karla Koryntu (MF vedl
            tehdy přechodně Janota…). A metodika se dál důsledně ve všech případech
            porušovala.</p>
        </div>
    </div>
    <div class="clear"></div>


    <div class="span-4">
        <h4>24. února 2010</h4>
    </div>
    <div class="span-10">
        <p>Františkovy Lázně přijaly <a
        href="http://www.frantiskovy-lazne.cz/vismo/dokumenty2.asp?u=3464&id_org=3464&id=297705&grafika=1">vyhlášku</a>
        zakazující provoz VLT, na základě zákona o obcích, § 10, písm. a),
        porušování veřejného pořádku.</p>
    </div>
    <div class="clear"></div>


    <div class="span-4">
        <h4>4. května 2010</h4>
    </div>
    <div class="span-10">
        <p>Ministerstvo vnitra na pokyn Ministerstva financí <a
        href="http://www.concourt.cz/clanek/3335">u Ústavního soudu</a> napadlo
        vyhlášku Chrastavy.</p>
    </div>
    <div class="clear"></div>


    <div class="important">
        <div class="span-4">
            <h4>11. června 2010</h4>
        </div>
        <div class="span-10">
            <p>Klaus <a href="http://www.klaus.cz/clanky/2622">vetoval</a> za
            základě <a
            href="http://hollan.blog.respekt.ihned.cz/c1-45943050-klaus-versus-pravda">lživých
            argumentů</a> novelu zákona, která měla dát větší pravomoc obcím (při
            zachování sousedství). Jelikož to bylo po skončení funkčního období
            sněmovny, nemohlo být veto přehlasováno.</p>
        </div>
    </div>
    <div class="clear"></div>


    <div class="important">
        <div class="span-4">
            <h4>11. srpna 2010</h4>
        </div>
        <div class="span-10">
            <p>Od 16. srpna začala platit <a
            href="http://www.mfcr.cz/cps/rde/xchg/mfcr/xsl/podminky_povolovani_56947.html?year=2010">nová
            metodika MF</a>, dle které měla pro přístroje MF platit vyhláška obcí o
            sousedství stoprocentně. Jako v předešlém případě byla důsledně
            sabotována a MF nadále povolovalo terminály po tisících, navzdory
            vyhláškám a zákonu.</p>
        </div>
    </div>
    <div class="clear"></div>


    <div class="span-4">
        <h4>16. prosince 2010</h4>
    </div>
    <div class="span-10">
        <p>Ministerstvo vnitra <a
        href="http://www.concourt.cz/clanek/4600">napadlo</a> vyhlášku
        Františkových Lázní u Ústavního soudu.</p>
    </div>
    <div class="clear"></div>


    <div class="important">
        <div class="span-4">
            <h4>28. února 2011</h4>
        </div>
        <div class="span-10">
            <p>Od platnosti nové metodiky ze 16. srpna, navzdory zákonu a
            vyhláškám, MF <span class="todo">vydalo</span> do konce února jenom v
            Brně přes 1000 terminálů z 1414 <a
            href="http://www.osbrneni.cz/mapa-heren/mapa-beta">v rozporu s
            vyhláškami</a>.</p>
        </div>
    </div>
    <div class="clear"></div>


    <div class="span-4">
        <h4>Květen 2011</h4>
    </div>
    <div class="span-10">
        <p>V reakci na zjištění, že Ministerstvo financí porušuje masivně svojí
        metodiku, na 400 lidí <a
        href="http://www.osbrneni.cz/regulace-hazardu/zadost-o-prezkum">požádalo</a>
        skrz formulář na stránkách Brnění, ať Ministerstvo financí přezkoumá
        tato rozhodnutí a zruší je.</p>
    </div>
    <div class="clear"></div>


    <div class="important">
        <div class="span-4">
            <h4>14. června 2011</h4>
        </div>
        <div class="span-10">
            <p>Ústavní soud vydal <a
            href="http://www.concourt.cz/clanek/GetFile?id=5369">průlomový nález
            Pl. ÚS 29/10</a> ohledně obecně závazné vyhlášky Chrastavy, že obce
            mohou a vždy mohly regulovat umístění terminálů, které se musí řídit
            stejnými ustanoveními zákon (např. sousedstvím) jako „klasické“ VHP. V
            nálezu ÚS konstatoval, že rušení stávajících povolení je možné.</p>
        </div>
    </div>
    <div class="clear"></div>


    <div class="span-4">
        <h4>15. června 2011</h4>
    </div>
    <div class="span-10">
        <p>Poslanecká sněmovna <a
        href="http://www.psp.cz/sqw/historie.sqw?o=6&T=138">poslala do Senátu
        vládní novelu zákona</a>, která ruší sousedství, takže oproti den
        starému právnímu stavu se vlastně jen situace zhorší. Stávající
        povolení na VLT, která jsou povolena v rozporu se sousedstvím a
        vyhláškami dostala 3leté prázdniny, v podobě tříletého přechodného
        ustanovení.</p>
    </div>
    <div class="clear"></div>


    <div class="important">
        <div class="span-4">
            <h4>27. června 2011</h4>
        </div>
        <div class="span-10">
            <p>Občanské sdružení Brnění <a
            href="http://www.osbrneni.cz/nova-internetova-aplikace-v-boji-proti-hazardu-www-mapyhazardu-cz">představilo</a>
            <a href="http://www.mapyhazardu.cz/">MapyHazardu.cz</a>, které ukazují
            herny (hazardní přístroje) povolené v rozporu se sousedstvím.</p>
        </div>
    </div>
    <div class="clear"></div>


    <div class="span-4">
        <h4>26. července 2011</h4>
    </div>
    <div class="span-10">
        <p>Veřejný ochránce práv zaslal Ministerstvu financí Průběžnou zprávu o
        šetření postupu a rozhodování Ministerstva financí při povolování
        sázkových her provozovaných pomocí různých technických herních
        zařízení, kterou později <a
        href="http://www.ochrance.cz/fileadmin/user_upload/STANOVISKA/Ostatni-organy/2601-10-BK-ZZ.pdf">předložil
        Sněmovně</a>. Ochránce zde konstatuje řadu provinění Ministerstva
        financí: nedodržování sousedství, ignorování OZV, povolování na
        nezákonně dlouhou dobu 10 let, když maximum je rok, nerespektování
        zákonného limitu maximální vsazené částky či hodinové prohry.</p>
    </div>
    <div class="clear"></div>


    <div class="span-4">
        <h4>24. srpna 2011</h4>
    </div>
    <div class="span-10">
        <p>Ministerstvo financí na podanou žádost o přezkum nijak nereagovalo,
        až na základě žádosti o informace sdělilo, že <a
        href="http://www.osbrneni.cz/wp-content/uploads/2011/09/prezkum-nebude.pdf">nic
        přezkoumávat nebude</a>, protože vše dělají legálně. Občanské sdružení
        Brnění bylo Ministerstvem financí vyzváno, <a
        href="http://www.osbrneni.cz/wp-content/uploads/2011/09/Neptejte-se.pdf">ať
        se ho už na nic neptá</a>, že jen zdržuje od práce.</p>
    </div>
    <div class="clear"></div>


    <div class="span-4">
        <h4>26. srpna 2011</h4>
    </div>
    <div class="span-10">
        <p><a
        href="http://www.osbrneni.cz/wp-content/uploads/2012/01/MF2011-08-26.pdf">Miroslav
        Kalousek</a> odepsal Veřejnému ochránci práv, že jeho výtky nepřijímá a
        nic na zavedené praxi měnit nebude. Vyjádření Miroslava Kalouska
        obsahuje i přímou lež, že Ministerstvo financí v minulosti respektovalo
        ustanovení o sousedství.</p>
    </div>
    <div class="clear"></div>


    <div class="important">
        <div class="span-4">
            <h4>6. září 2011</h4>
        </div>
        <div class="span-10">
            <p>Poslanecká sněmovna <a
            href="http://www.sbirka.cz/POSL4TYD/NOVE/11-300.htm">přijala novelu
            zákona o loteriích č. 300/2011</a>, která dala VLT 3leté prázdniny a
            zrušila sousedství.</p>
        </div>
    </div>
    <div class="clear"></div>


    <div class="important">
        <div class="span-4">
            <h4>7. září 2011</h4>
        </div>
        <div class="span-10">
            <p>Ústavní soud svým <a
            href="http://www.concourt.cz/clanek/GetFile?id=5687">nálezem Pl. ÚS
            56/10</a> rozhodl o platnosti OZV Františkových Lázní, která byla
            učiněna podle zákona o obcích, čímž byla překonána novela zákona o
            loteriích z předchozího dne.</p>
        </div>
    </div>
    <div class="clear"></div>


    <div class="span-4">
        <h4>27. září 2011</h4>
    </div>
    <div class="span-10">
        <p>Ústavní soud svým dalším <a
        href="http://nalus.usoud.cz/Search/GetText.aspx?sz=Pl-22-11_1">nálezem
        Pl. ÚS 22/11</a> rozhodl, že OZV Kladna je taktéž v pořádku. Klaus
        současně podepsal novelu zákona o loteriích.</p>
    </div>
    <div class="clear"></div>


    <div class="span-4">
        <h4>6. říjen 2011</h4>
    </div>
    <div class="span-10">
        <p>Občanské sdružení Brnění <a
        href="http://www.osbrneni.cz/regulace-hazardu/podnet-ke-zruseni-nelegalnich-hazardnich-pristroju">zaslalo
        k Ministerstvu financí další podnět k přezkumu</a>, tentokrát daleko
        podrobnější a opřený o nálezy Ústavního soudu a o průběžnou zprávu
        Veřejného ochránce práv.</p>
    </div>
    <div class="clear"></div>


    <div class="important">
        <div class="span-4">
            <h4>4. listopad 2011</h4>
        </div>
        <div class="span-10">
            <p>Veřejný ochránce práv <a
            href="http://www.osbrneni.cz/wp-content/uploads/2012/01/Občané-proti-závislostem-2601-10-BK-ZSO-1.pdf">zaslal
            Ministerstvu financí Závěrečnou zprávu s návrhy opatření k nápravě</a>,
            kde ho vyzval uvézt jednotlivé povolovací procesy do souladu se
            zákonem.</p>
        </div>
    </div>
    <div class="clear"></div>


    <div class="span-4">
        <h4>9. listopad 2011</h4>
    </div>
    <div class="span-10">
        <p>Miroslav Kalousek pouští do mezirezortního řízení návrh nového <a
        href="http://www.kr-ustecky.cz/vismo/dokumenty2.asp?id_org=450018&id=1663315">zákona
        o provozování sázkových her</a>. Zákon je <a
        href="http://ziegler.blog.respekt.ihned.cz/c1-54140480-zakon-o-podpore-hazardu">opět
        psán ve stylu vše pro hazard</a>, sousedství je stále zrušeno, ruší se
        možnost obcí vydávat OZV, zvyšuje se maximální hodinová prohra.</p>
    </div>
    <div class="clear"></div>


    <div class="span-4">
        <h4>15. prosinec 2011</h4>
    </div>
    <div class="span-10">
        <p>Ministerstvo financí informuje, že nebude řešit <a
        href="http://www.osbrneni.cz/wp-content/uploads/2012/01/34-106725-2011-odpověď-dle-106-1999-Sb.pdf">ani
        druhý podnět občanského sdružení Brnění</a>, protože na to není čas.
        Stejně tak informuje, že <a
        href="http://www.osbrneni.cz/wp-content/uploads/2012/01/34-106727-2011-odpověď-dle-106-1999-Sb.pdf">nebude
        řešit žádost o přezkum Lanškrouna</a>.</p>
    </div>
    <div class="clear"></div>


    <div class="important">
        <div class="span-4">
            <h4>16. prosinec 2011</h4>
        </div>
        <div class="span-10">
            <p>Miroslav Kalousek <a
            href="http://www.osbrneni.cz/wp-content/uploads/2012/01/Občané-proti-závislostem-2601-10-BK-31-Brněn%C3%AD-1.pdf">odmítl</a>
            i Závěrečnou zprávu Veřejného ochránce práv. Ombudsman se hodlá v
            souladu se zákonem o veřejném ochránci práv
            obrátit na vládu.</p>
        </div>
    </div>
    <div class="clear"></div>


    <div class="important">
        <div class="span-4">
            <h4>1. ledna 2012</h4>
        </div>
        <div class="span-10">
            <p>Vstupuje v platnost <a
            href="http://www.osbrneni.cz/wp-content/uploads/2012/01/Legislativa_Zakon-c-_202_1990Sb_o_loteriich_a_jinych_podobnych_hrach_ve_zneni_k_1012012_pracovni_verze.pdf">novela
            zákona o loteriích</a> rušící ustanovení o sousedství a dávající
            hazardním přístrojům povoleným Ministerstvem financí 3leté přechodné
            ustanovení, po které nesmí být rušeny. Novela je v konfliktu se zákonem
            o obcích, kde žádná přechodná lhůta není a podle něhož lze hazard
            regulovat taktéž a Ústavou ČR, jelikož zasahuje do ústavního práva obce
            na samosprávu.</p>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
