{% extends base_template %}

{% load shared mf %}

{% block title %}{{ town.title }} (kampaň {{ campaign.get_title }}){% endblock %}

{% block fb %}
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ town.title }}">
    <meta property="og:description" content="{% filter striptags|stripstar|stripmultiwhitechars|nbsp2space %}{% mf_primer_text town %}{% endfilter %}">
    <meta property="og:url" content="http://www.mapyhazardu.cz{{ request.path }}">
{% endblock %}

{% block breadcrumb %}
    <a href="/">Úvodní stránka</a> » <a href="{{ region.get_absolute_url }}">{{ region.title }}</a> » <a href="{{ district.get_absolute_url }}">{{ district.title }}</a> » <span>{{ town.title }}</span>
{% endblock %}

{% block campaign_submenu %}
    {% include "mf/submenu.html" %}
{% endblock %}

{% block left_col %}
    {# uvodni text #}
    <div id="primer">
        {% block primer_content %}
            {# TODO: mohl bych tu konecne zrealizovat i to vyrazeni grafu, pokud v obci nic neni #}
            {% mf_primer_text town %}
        {% endblock %}
        <iframe src="//www.facebook.com/plugins/like.php?href={% filter urlencode %}http://www.mapyhazardu.cz{{ request.path }}{% endfilter %}&amp;send=false&amp;layout=standard&amp;width=400&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
    </div>

    <h3 class="sedySikmy">Situace v ostatních obcích okresu</h3>
    {% mf_table "town" %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include "mf/territories_js.html" %}
{% endblock %}

{% block plain_js %}
    {{ block.super }}
    {% include "mf/js_templates.html" %}
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
