{% extends base_template %}

{% load shared mf %}

{% block main_header %}
    <h1>{{ town.title }}</h1>
{% endblock %}

{% block left_col %}
    {# uvodni text #}
    <div id="primer">
        {% block primer_content %}
            {# TODO: mohl bych tu konecne zrealizovat i to vyrazeni grafu, pokud v obci nic neni #}
            {% mf_primer_text town %}
        {% endblock %}
    </div>

    <h3>Situace v ostatních obcích okresu</h3>
    {% mf_table "town" %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include "mf/territories_js.html" %}
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
