{% extends base_template %}

{% load shared %}

{% block title %}{{ town.title }}, podrobná mapa (kampaň {{ campaign_obj.get_title }}){% endblock %}

{% block campaign_submenu %}
    {% include "mf/submenu.html" %}
{% endblock %}

{% block main_content %}
    <h2>Podrobná mapa</h2>
    <div id="map"></div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/mf_detailmap.js"></script>
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
