{% extends "mf/base.html" %}

{% load shared %}

{% block main_header %}
    <h1>{{ town.title }}</h1>
{% endblock %}

{% block content %}
    <h2>Komentáře</h2>
    <div class="span-15 append-1 last">
        <div id="disqus_thread"></div>
        <a href="http://disqus.com" class="dsq-brlink">Komentáře pohání <span class="logo-disqus">Disqus</span></a>
    </div>
    <div class="span-8 last">
        <h3>Je ve skutečnosti v obci víc heren v rozporu se sousedstvím, než máme v naší mapě? Co dělá Vaše obec pro regulaci hazardu? Kteří politikové podporují hazard? A kteří se naopak proti hazardu angažují? Sdělte své poznatky o hazardu ve Vaší obci.</h3>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        {% if debug %}var disqus_developer = 1;{% endif %}
        var disqus_shortname = 'mapyhazardu';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
