div.wrapper {
    height: 140px;
    overflow: auto;
    margin: 0 0 1.5em;
}
#map {
    height: 400px;
    background-color: #EEE;
    z-index: 10;
}
#footer img {
    opacity:0.5;
}
#footer img:hover {
    opacity:1;
}
#home #content .perex {
  margin-bottom: .3em;
}
#menu ul li a {
    padding: 10px 10px 10px 30px;
}
#content table.vysvetlivky td {
    text-align:left;
}
div.jquery-ajax-loader {
	background: #333 url(/static/img/ajax-loader.gif) no-repeat 50% 50%;
	opacity: .6;
    z-index:1000;
}

#home #ctverce a.chunk-admin {
    display:none;
}
a.chunk-admin {
    text-decoration:none;
    margin-right:6px;
    float:left;
    color:yellow !important;
    text-shadow: 0 0 6px #000;
}
