h1.loading {
    background: transparent url(../img/ajax-loader3.gif) 100% 50% no-repeat;
}

.text-right {
    text-align:right;
}
.todo {
    background: yellow;
    padding:2px 4px;
}
ul.local-menu {
    list-style:none;
    margin-left:0;
    padding-left:0;
    border-top:1px solid #eee;
}
ul.local-menu li {
    padding-top:4px;
    padding-bottom:4px;
    margin-left:0;
    padding-left:0;
    border-bottom:1px solid #eee;
}
ul.local-menu li a {
    display:block;
}

/* styly pro tabulky s "teplomerem" */
table.statistics .counts,
table.statistics .conflict_counts,
table.statistics .conflict_perc,
table.statistics .density,
table.statistics .per_resident {
    text-align:right;
}
table.statistics td {
    background: #E5ECF9 url(../img/white_bg_line.png) no-repeat 1000px 0;
    cursor: pointer;
}
table.statistics tr.hover td {
    background-color: #ccc;
}
table.statistics tr.active td {
    background-color: #E5ECF9;
}
table.statistics tr.hover td *,
table.statistics tr.active td * {
    /*color:#333;*/
    text-decoration:none;
}
table.statistics tr.active td {
    border-top: 1px dotted #0066CC;
    border-bottom: 1px dotted #0066CC;
}
div.wrapper {
    height:120px;
    overflow:auto;
}

/* uvodni text */
#primer h2 {
    font-size:140%;
    line-height:110%;
}
#primer h2 a {
    color:#000;
    text-decoration:none;
    border-bottom:1px dotted #000;
}
#primer h2 a:hover {
    color:#09f;
    border-bottom-color:#09f;
}

.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}

#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden}

#map-legend {
    height:300px;
    width:40px;
    display:block;
    position:absolute;
    z-index:30;
    font-size:10px;
    border:1px solid #fff;
}
#map-legend .min,
#map-legend .max {
    width:30px;
    text-align:center;
    position:absolute;
    top:0;
    padding:4px;
    color:#fff;
}
#map-legend .min {
    top:92%;
    color:#000;
}

#map-legend.hells {
    background-image: linear-gradient(bottom, rgb(255,217,0) 0%, rgb(238,0,0) 100%);
    background-image: -o-linear-gradient(bottom, rgb(255,217,0) 0%, rgb(238,0,0) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(255,217,0) 0%, rgb(238,0,0) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,217,0) 0%, rgb(238,0,0) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(255,217,0) 0%, rgb(238,0,0) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(255,217,0)),
        color-stop(1, rgb(238,0,0))
    );
}
#map-legend.machines {
    background-image: linear-gradient(bottom, rgb(0,255,255) 0%, rgb(0,38,255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(0,255,255) 0%, rgb(0,38,255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(0,255,255) 0%, rgb(0,38,255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,255,255) 0%, rgb(0,38,255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(0,255,255) 0%, rgb(0,38,255) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(0,255,255)),
        color-stop(1, rgb(0,38,255))
    );
}

#select-legend p {
    display:none;
    font-style:italic;
}
#select-handler {
    float:right;
}
