<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MapyHazardu.cz{% endblock %}</title>

    {# Facebook OpenGraph #}
    <meta property="og:site_name" content="MapyHazardu.cz">

    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css" type="text/css" media="screen">
        {% block css %}{% endblock %}
    {% endcompress %}
</head>
<body id="body">
    <div class="container">
        {% include "header.html" %}
        {% block main %}{% endblock %}
        {% include "footer.html" %}
    </div>
    {% compress js %}
        {% block js %}
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.2.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
        {% endblock %}
    {% endcompress %}
    {# Google Analytics #}
    {% if not debug %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-222140-13']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
</body>
</html>
{# vim: set et si ts=4 sw=4 syn=django: #}
