<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MapyHazardu.cz{% endblock %}</title>

    {# Meta uzitecne pro Google, Seznam, Facebook #}
    {#<meta name="description" content="">#}

    {# Facebook OpenGraph #}
    <meta property="og:site_name" content="MapyHeren.cz">

    {#{% load compress %}#}
    {#{% compress js %}#}
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=cs&region=CZ"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/fancybox/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
        {% block compress_js %}
            <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/percent_map.js"></script>
        {% endblock %}
    {#{% endcompress %}#}
    {#{% compress css %}#}
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/index.css" type="text/css" media="screen">
        <link rel="stylesheet" href="{{ MEDIA_URL }}js/fancybox/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen">
    {#{% endcompress %}#}

    {# Google Analytics #}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-222140-13']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body id="body">
    <div class="container">
        {# hlavni obsah #}
        <div id="content">
            <div id="info_box">
                <a href="/"><img src="{{ MEDIA_URL }}img/herny4.png" width="300" height="82" title="MapyHazardu.cz"></a>
                <p id="nav"><a class="nop" href="/">O projektu</a> / <a href="{% url entry-list %}">Hitparáda</a> / <a href="{% url entry-form %}">Přidat obec</a> / <a href="{% url contact %}">Kontakt</a></p>
                {% if messages %}
                    <p id="messages">
                        {% for message in messages %}
                            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
                            {% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <div id="inner_box">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div id="map"></div>
    </div>
    <script type="text/javascript">
        {% load shared %}
        {% filter shorten_latlon %}
            {% block inline_js%}
                window.perc_entries = {{ perc_entries|json }};
            {% endblock %}
        {% endfilter %}
    </script>
</body>
</html>
{# vim: set et si ts=4 sw=4 syn=django: #}
