{% extends "bone.html" %}

{% load news chunks campaigns %}

{% block main %}
    <h1>MapyHazardu.cz</h1>
    <div class="span-12">
        <h2 style="line-height:130%">
            {% chunk "homepage-perex" %}
        </h2>
        <p>Jakoze jde o portal ne? -- ukazujeme na problemy, informujeme,
        vizualizujeme, nabizime syrova data.</p>
    </div>
    <div class="span-12 last">
        <div class="box">
            {% display_campaigns %}
            <hr/>
            <p class="quiet todo">tady bude bud nejaky seznam, nebo slideshow s kampanema;
            musi to zaujmout, budto nejaky obrazek nebo zajimava cisla; musime
            pocitat s tim, ze treba 1/4 roku tady bude viset pouze jedina kampan</p>
        </div>
    </div>

    <div class="clear"> </div>

    <div class="span-8">
        <h3>Zprávy</h3>
        {% display_news %}
    </div>
    <div class="span-8">
        <h3>Zapojte se</h3>
        <p>Prihlaseni, link na registraci, apel aby nebyli lhostejni. Kdyz
        te to sere, klidne si zanadavej, ale aspon u toho neco naklikej.</p>
        <p>
        Email: <input type="text"><br/>
        Heslo : <input type="text">
        </p>
    </div>
    <div class="span-8 last">
        <h3>Podporuji nas</h3>
        <p>Bud tady, anebo vlastne spis v paticce na kazde strance, at
        je to na ocich</p>
        <p>Jeste by nekde mohl byt "stream" poslednich udalosti, tj. kdo
        kde co na webu uprd (editace, pridani novych dat, apod)</p>
    </div>
{% endblock %}
{# vim: set et si ts=4 sw=4 syn=django: #}
