{% extends "bone.html" %}

{% load webdesign %}

{% block main %}
    <h1>MapyHazardu.cz</h1>
    <div class="span-12">
        <h2 style="line-height:130%">
            Mapujeme hazard. Statu je to fuk, kamaradickum na radnici taky,
            mesta jsou zaplevelena hernama jak nikde jinde v Evrope.
            Pojdme se na nej podivat z jineho pohledu a dokopejme nase
            volene zastupce k cinum.
        </h2>
        <p>Jakoze jde o portal ne? -- ukazujeme na problemy, informujeme,
        vizualizujeme, nabizime syrova data.</p>
    </div>
    <div class="span-12 last">
        <div class="box">
            slideshow s kampanema / obrazek + text
            <br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>

    <div class="clear"> </div>

    <div class="span-8">
        <h3>Zpravy</h3>
        <p>12.4.2011 &mdash; <b>{% lorem 4 w %}</b></p>
        {#<p style="position:relative; top:-15px;margin-bottom:5px;">{% lorem 15 w %}...</p>#}
        <p>12.4.2011 &mdash; <b>{% lorem 4 w %}</b></p>
        {#<p style="position:relative; top:-15px;margin-bottom:5px;">{% lorem 15 w %}...</p>#}
        <p>12.4.2011 &mdash; <b>{% lorem 4 w %}</b></p>
        {#<p style="position:relative; top:-15px;">{% lorem 15 w %}...</p>#}
    </div>
    <div class="span-8">
        <h3>Zapojte se</h3>
        <p>Prihlaseni, link na registraci, apel aby nebyli lhostejni. Kdyz
        te to sere, klidne si zanadavej, ale aspon u toho neco naklikej.</p>
        <p>
        Email: <input type="text"><br/>
        Heslo : <input type="text">
        </p>
    </div>
    <div class="span-8 last">
        <h3>Podporuji nas</h3>
        <p>Bud tady, anebo vlastne spis v paticce na kazde strance, at
        je to na ocich</p>
        <p>Jeste by nekde mohl byt "stream" poslednich udalosti, tj. kdo
        kde co na webu uprd (editace, pridani novych dat, apod)</p>
    </div>
{% endblock %}
{# vim: set et si ts=4 sw=4 syn=django: #}
