{% load shared %}

<ul>
    {# - home --------------------------------------------------------------- #}
    {% wrap request.path == "/" %}
        Úvod
    {% true %}
        <li><a class="active" href="/">{{ CONTENT }}</a></li>
    {% false %}
        <li><a href="/">{{ CONTENT }}</a></li>
    {% endwrap %}

    {# - kampane ------------------------------------------------------------ #}
    {% url campaign-homepage as campaign_url %}
    {% wrap request.path|startswith:campaign_url %}
        Kampaně
    {% true %}
        <li><a class="active" href="{{ campaign_url }}">{{ CONTENT }}</a></li>
    {% false %}
        <li><a href="{{ campaign_url }}">{{ CONTENT }}</a></li>
    {% endwrap %}

    {# - mapy --------------------------------------------------------------- #}
    {% url maps as maps_url %}
    {% wrap request.path|startswith:maps_url %}
        Mapy
    {% true %}
        <li><a class="active" href="{{ maps_url }}">{{ CONTENT }}</a></li>
    {% false %}
        <li><a href="{{ maps_url }}">{{ CONTENT }}</a></li>
    {% endwrap %}

    {# - navody ------------------------------------------------------------- #}
    {% url manual as manual_url %}
    {% wrap request.path|startswith:manual_url %}
        Návody
    {% true %}
        <li><a class="active" href="{{ manual_url }}">{{ CONTENT }}</a></li>
    {% false %}
        <li><a href="{{ manual_url }}">{{ CONTENT }}</a></li>
    {% endwrap %}

    {# - souvislosti -------------------------------------------------------- #}
    {% url context as context_url %}
    {% wrap request.path|startswith:context_url %}
        Souvislosti
    {% true %}
        <li><a class="active" href="{{ context_url }}">{{ CONTENT }}</a></li>
    {% false %}
        <li><a href="{{ context_url }}">{{ CONTENT }}</a></li>
    {% endwrap %}

    {# - zpravy ------------------------------------------------------------- #}
    {% url new-list as news_url %}
    {% wrap request.path|startswith:news_url %}
        Zprávy
    {% true %}
        <li><a class="active" href="{{ news_url }}">{{ CONTENT }}</a></li>
    {% false %}
        <li><a href="{{ news_url }}">{{ CONTENT }}</a></li>
    {% endwrap %}

    {# - kontakt ------------------------------------------------------------ #}
    {% url contact as contact_url %}
    {% wrap request.path|startswith:contact_url %}
        Kontakt
    {% true %}
        <li class="l"><a class="active" href="{{ contact_url }}">{{ CONTENT }}</a></li>
    {% false %}
        <li class="l"><a href="{{ contact_url }}">{{ CONTENT }}</a></li>
    {% endwrap %}
</ul>
{# vim: set et si ts=4 sw=4 syn=django: #}
