{% extends "bone.html" %}

{% load shared %}

{% block title %}Herny v obci {{ entry.title }}{% endblock %}

{% block compress_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/markerclusterer.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/detail_map.js"></script>
{% endblock %}

{% block content %}
    <h3>{{ entry.title }}</h3>

    <p><strong class="percentage">{{ entry.dperc|floatformat:0 }}%</strong>
    heren v této v obci je <strong>provozováno protiprávně</strong>.</p>

    <p class="clear" id="detailed_info">Další zajímavosti</p>
    <ul>
        <li>Celkem {{ entry.dhell_count|floatformat:0 }}&nbsp;heren, {{ entry.dok_hell_count|floatformat:0 }} na povolených místech</li>
        <li>{{ entry.dper_population|floatformat:0 }} obyvatel/hernu</li>
        <li>{{ entry.dper_area|floatformat:2 }} herny/km<sup>2</sup></li>
    </ul>
{% endblock %}

{% block inline_js %}
    window.hells = {{ hells|json }};
    window.buildings = {{ buildings|json }};
    window.zones = {{ zones|json }};
{% endblock %}
