{% extends "bone.html" %}

{% block title %}Přidat obec &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <h3>Přidat obec</h3>
    <p>Chcete zjistit situaci i ve svém městě či obci? Je to jednoduché &mdash;
    připravte si s pomocí <a href="http://maps.google.com/">Google maps</a>
    seznam heren a budov, a vložte je do tohoto formuláře.</p>
    <p><a href="{% url instruction %}">Podrobný návod na výrobu mapy</a></p>
    <form method="post" action="{% url entry-form %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" id="upload_maps" value="Nahrát mapy">
    </form>
{% endblock %}
