{% extends "bone.html" %}

{% block content %}
    <div class="box" id="info_box">
        <h3>Hitparáda</h3>
        <p>Která města a obce jsou ta nejlepší v protizákonných povolováních
        výherních automatů?</p>
        <table>
            {% for entry in entries %}
                <tr>
                    <td><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></td>
                    <td class="right">{{ entry.dperc|floatformat:0 }}%</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
