{% extends "bone.html" %}

{% load geo %}

{% block title %}Hitparáda &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <h3>Hitparáda</h3>
    <p>Která města a obce jsou ta "nejlepší" v protizákonných povolováních
    výherních automatů?</p>
    {% if entries %}
        <table id="topici">
            <tr>
                <th>Obec</th>
                <th class="tright">Herny</th>
                <th class="tright">%&nbsp;nelegálních</th>
            </tr>
            {% for entry in entries %}
                <tr>
                    <td><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></td>
                    <td class="tright">{{ entry|hell_numbers }}</td>
                    <td class="tright">{{ entry.dperc|floatformat:0 }}%</td>
                </tr>
            {% endfor %}
        </table>
        {% if show_next %}
            <p><a href="{% url full-entry-list %}">Kompletní výpis obcí</a> &rarr;</p>
        {% endif %}
    {% else %}
        <p><i>Před chvílí jsme stránky spustili a zatím nemáme co zobrazit. Navštivte nás prosím později.</i></p>
    {% endif %}
    <p><i><b>Poznámka:</b> Údaj ve sloupci "Herny" vyjadřuje počet heren na
    zakázaných místech (první číslo) a počet zanesených heren v dané obci
    (druhé číslo).<br>
    Informace v posledním sloupečku pak tyto hodnoty dává do poměru a vyjadřuje
    kolik procent z heren, které lidé zanesli do mapy, je v dané v obci
    provozováno na zakázaných místech.</i></p>
{% endblock %}
