{% extends "pages/context.html" %}

{% load chunks %}

{% block title %}Slovník pojmů | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <a href="/">Úvodní stránka</a> » <a href="{% url context %}">Souvislosti</a> » <span>Slovník pojmů</span>
{% endblock %}

{% block main_header %}
    <h1>Slovník pojmů</h1>
{% endblock %}

{% block main_perex %}
    {% chunk "dictionary-perex" %}
{% endblock %}

{% block main_content %}
    {# vypis terminu #}
    {% for term in terms %}
        <h2 id="termin-{{ term.slug }}">{{ term.title }}</h2>
        {{ term.description|safe }}
    {% endfor %}
{% endblock %}
{# vim: set et si ts=4 sw=4 syn=django: #}
