{% extends "bone.html" %}

{% load territories %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/territories.css" type="text/css" media="screen">
{% endblock %}

{% block main %}
    {# drobeckova navigace #}
    <p id="breadcrumb">{% block breadcrumb %}{% endblock %}</p>

    {# nadpis #}
    {% block main_header %}{% endblock %}

    {# zalozky kampani #}
    {% block campaign_menu %}
        <p id="campaign-menu">
            {% territory_base_url as base_url %}
            {% for campaign_item in campaigns %}
                <a {% if campaign_item.slug == campaign %}class="active" {% endif %}href="{{ base_url }}kampan/{{ campaign_item.slug }}/" class="box">
                    {% firstof campaign_item.short_title campaign_item.title %}
                </a>
            {% endfor %}
        </p>
    {% endblock %}
    {% block submenu %}{% endblock %}
    <hr />

    {# obsah stranky #}
    {% block content %}
        <div class="span-10">
            {% block main_content %}{% endblock %}
        </div>

        {# mapa #}
        <div class="span-14 last">
            {% block map %}
                <div id="map"></div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
{# vim: set et si ts=4 sw=4 syn=django: #}
