{% extends "territories/base.html" %}

{% load shared %}

{% block main_header %}
    <p><a href="/">Česká republika</a></p>
    <h1>{{ region.title }}</h1>
{% endblock %}

{% block main_content %}
    <h2>Okresy</h2>
    <ul>
    {% for district in districts %}
        <li><a href="{{ district.get_absolute_url }}">{{ district.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        window.shape = {{ region.shape.0.coords|json }};
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/district.js"></script>
{% endblock %}
{# vim: set et si ts=4 sw=4 syn=django: #}
