{% extends "pages/base.html" %}

{% load chunks %}

{% block title %}Kontakt | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <a href="/">Úvodní stránka</a> » <span>Kontakt</span>
{% endblock %}

{% block main %}
    <h1>Kdo jsme a proč to děláme</h1>

    <div class="span-8 sidebar">
        <div class="box">
            {% chunk "kontakt-adresa" %}
        </div>
        {% include "widget.html" %}
    </div>
    <div class="span-16 last text mh-text">
        {% chunk "kontakt-text" %}
    </div>
    <div class="clear"></div>
{% endblock %}
{# vim: set et si ts=4 sw=4 syn=django: #}
