{% extends "pages/base.html" %}

{% load chunks %}

{% block title %}Souvislosti | {{ block.super }}{% endblock %}

{% block css %}
    {{ block.super }}
	<link href="{{ STATIC_URL }}css2/timeline/timeline.css" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/timeline.js"></script>
    <script>
        $(document).ready(function() {
            var timeline = new VMM.Timeline(620, 650);
            timeline.init("https://docs.google.com/spreadsheet/pub?key=0AkEbta5KSm00dFVwNW15aFQwelgtbmRDVlllelU4UHc&output=html");
        });
    </script>
{% endblock %}

{% block breadcrumb %}
    <a href="/">Úvodní stránka</a> » <span>Souvislosti</span>
{% endblock %}

{% block main %}
    {% block main_header%}
        <h1>Souvislosti</h1>
    {% endblock %}

    <div class="span-8 sidebar">
        <div class="box">
            {% block main_perex %}
                {% chunk "souvislosti-perex" %}
            {% endblock %}
        </div>
        <ul>
            <li><a href="{% url context %}">Souvislosti</a></li>
            <li><a href="{% url law %}">Podrobně o porušování zákona</a></li>
            <li><a href="{% url timeline %}">Časový vývoj</a></li>
            <li><a href="{% url dictionary %}">Slovník pojmů</a></li>
            <li><a href="{% url documents %}">Dokumenty</a></li>
            <li><a href="{% url infograph %}">Infografiky</a></li>
        </ul>
    </div>
    <div class="span-16 last text">
        {% block main_content %}
            {% chunk "souvislosti-text" %}
            <div style="height:730px">
                <div id="timeline"></div>
            </div>
            <div class="clear"></div>
        {% endblock %}
        <iframe src="//www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
    </div>
    <div class="clear"></div>
{% endblock %}
{# vim: set et si ts=4 sw=4 syn=django: #}
