{% extends "bone.html" %}

{% block main %}
    <h1>Kdo jsme a proč to děláme</h1>

    {# uvodni lajna #}
    <div class="span-12">
        <p><a href="/">MapyHazardu.cz</a> provozuje
        <a href="http://www.osbrneni.cz/">občanské sdružení Brnění</a>. Cílem
        Brnění je zrušit hazardní přístroje v současné podobě a nastolit
        stav, kdy bude respektován zákon o loteriích. </p>

        <p>Nechceme herny a podniky s automaty na každém rohu. Nechceme, aby
        byla Česká republika pračkou peněz. Nechceme, aby u nás žilo nejvíc
        gamblerů v přepočtu na obyvatele na světě. Chceme dostat hazard do
        zákonných a únosných mezí.</p>

        <p><a href="http://www.mapyhazardu.cz/">MapyHazardu.cz</a> jsou
        jednou z našich protihazardních aktivit.</p>

        <p>Vydali jsme manuál
        <a href="http://www.osbrneni.cz/regulace-hazardu/manual">Jak ve Vaší
        obci regulovat hazard</a>, kde podrobně popisujeme, co musí obec
        udělat pro to, aby se zbavila hazardu. Tento manuál jsme rozeslali
        na všechny obce v ČR.</p>

        <p>Poskytujeme poradenství, jak se zbavit hazardu, komunikujeme s
        mnoha radnicemi i aktivními občany napříč republikou. </p>

        <p>Věnujeme se <a href="http://www.osbrneni.cz/category/media-o-nas">medializaci</a>
        problému, pořádáme o legislativě a dopadech hazardu diskuze,
        spolupracujeme s dalšími organizacemi, obcemi, institucemi i
        jednotlivci, kteří se regulací hazardu zabývají.</p>

        <p>Speciálně se zaměřujeme na regulaci hazardu v Brně, našem
        domovském městě, které je heren plné.</p>
    </div>

    <div class="span-11 prepend-1 last">
        <h3>Kontaktní informace</h3>
        <p><b>Brnění, o.s.</b><br>
        IČO: 22861688<br>
        Číslo transparentního účtu: 2200084041/2010<br>
        FIO Banka</p>
        <p>Email: <a href="mailto:brneni@gmail.com">brneni@gmail.com</a><br>
        Web: <a href="http://www.osbrneni.cz/">www.osbrneni.cz</a></p>
    </div>

    <div class="clear"></div>
{% endblock %}
{# vim: set et si ts=4 sw=4 syn=django: #}
