{% extends "pages/base.html" %}

{% load chunks %}

{% block title %}Souvislosti | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <a href="/">Úvodní stránka</a> » <span>Souvislosti</span>
{% endblock %}

{% block main %}
    {% block main_header%}
        <h1>Souvislosti</h1>
    {% endblock %}

    <div class="span-8 sidebar">
        <div class="box">
            {% block main_perex %}
                {% chunk "souvislosti-perex" %}
            {% endblock %}
        </div>
        <ul>
            <li><a href="{% url context %}">Souvislosti</a></li>
            <li><a href="{% url law %}">Podrobně o porušování zákona</a></li>
            <li><a href="{% url timeline %}">Časový vývoj</a></li>
            <li><a href="{% url dictionary %}">Slovník pojmů</a></li>
            <li><a href="{% url documents %}">Dokumenty</a></li>
            <li><a href="{% url infograph %}">Infografiky</a></li>
        </ul>
    </div>
    <div class="span-16 last text">
        {% block main_content %}
            {% chunk "souvislosti-text" %}
        {% endblock %}
    </div>
    <div class="clear"></div>
{% endblock %}
{# vim: set et si ts=4 sw=4 syn=django: #}
