{% extends "bone.html" %}

{% load webdesign %}

{% block main %}
    <h1>Slovník pojmů</h1>

    <p class="todo">Ty jo nepredelame to na nejaky model? Ze by se jednotlive
    vyrazy administrovaly pres web rozhrani a ukladaly do DB. Pak bychom
    mohli nasadit nejaky filtr, ktery by automaticky doplnil do stranek odkazy
    na vysvetleni pojmu...</p>

    {# seznam terminu #}
    <p>
        Co je to
        <a href="#sousedstvi">Sousedství</a>,
        <a href="#vhp">VHP</a>,
        <a href="#vlt">VLT</a>,
        <a href="#emr">EMR</a>?
    </p>
    <hr>

    {# sousedstvi #}
    <div id="sousedstvi" class="span-4">
        <h4>Sousedství</h4>
    </div>
    <div class="span-10">
        <p>Podle znění zákona o loteriích, které platilo do konce roku 2011,
        nesměl být hazardní přístroj povolen do tzv. sousedství těchto budov:
        škol, školských zařízení, zařízení zdravotní a sociální péče, budov
        státních orgánů a církví. Za sousedství se považuje okruh cca 100
        metrů, pro naše účely přesně 100 m. Do konce roku 2011 muselo
        Ministerstvo financí při každém povolení hazardního přístroje 100m
        vzdálenost vzít v potaz a v případě konfliktu se sousedství nesmělo
        hazardní přístroj povolit. Ministerstvo financí ale toto ustanovení
        zákona nikdy nerespektovalo, opakovaně ho i přes několikeré sliby
        porušovalo a povolovalo všechno všude. Od začátku roku 2012 platí
        novela zákona o loteriích, ze které zákonodárci ustanovení o sousedství
        vyhodili. Proč, když to bylo jediná paušální ochrana před hazardem, je
        otázka přímo na zákonodárce.</p>

        <p>To, že není sousedství v dnes platném znění zákona o loteriích, není
        pro naše mapování důležité. Všechny hazardní přístroje, které jsou v
        mapě zaneseny, byly povoleny před 1. lednem 2012. Konkrétně máme údaje
        platné k 23. srpnu 2011. Naše mapa demonstruje mohutné dlouhodobé a
        plošné ignorování tohoto zákonného požadavku. Zjištěná data tvoří jeden
        z podpůrných argumentů pro odebrání povolení dnes provozovaným
        hazardním přístrojům.</p>
    </div>
    <div class="span-9 prepend-1 last">
        <div class="box">obrazek?</div>
    </div>
    <div class="clear"></div>
    <br>

    {# VHP #}
    <div id="vhp" class="span-4">
        <h4>VHP</h4>
    </div>
    <div class="span-10">
        <p class="todo">{% lorem 40 w %}</p>
    </div>
    <div class="span-9 prepend-1 last">
        <div class="box">obrazek?</div>
    </div>
    <div class="clear"></div>
    <br>

    {# VLT #}
    <div id="vlt" class="span-4">
        <h4>VLT</h4>
    </div>
    <div class="span-10">
        <p class="todo">{% lorem 40 w %}</p>
    </div>
    <div class="span-9 prepend-1 last">
        <div class="box">obrazek?</div>
    </div>
    <div class="clear"></div>
    <br>

    {# EMR #}
    <div id="emr" class="span-4">
        <h4>EMR</h4>
    </div>
    <div class="span-10">
        <p class="todo">{% lorem 40 w %}</p>
    </div>
    <div class="span-9 prepend-1 last">
        <div class="box">obrazek?</div>
    </div>
    <div class="clear"></div>
    <br>
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
