{% extends "bone2.html" %}

{% load news chunks campaigns %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" type="text/css" media="screen">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/homepage.js"></script>
{% endblock %}

{% block page_header %}
    {% include "header_big.html" %}
{% endblock %}

{% block main %}
    {# uvodni lajna #}
    <div class="span-12">
        <p class="perex">
            {% chunk "homepage-uvod" %}
        </p>
        <p id="kdo-jsme"><a href="/kontakt/">Zajímá vás kdo jsme a proč to děláme?</a></p>
        <div class="clear"></div>
        <h3>Znáte situaci ve vašem regionu?</h3>
        <p style="margin-bottom:0"><input placeholder="Zadejte název obce, okresu nebo kraje" style="width:95%; height:32px; font-size:18px;" type="text" name="search" id="search"></p>
    </div>
    <div class="span-12 last" id="ctverce">
        {% chunk "homepage-box1" %}
        {% chunk "homepage-box2" %}
        {% chunk "homepage-box3" %}
        {% chunk "homepage-box4" %}
    </div>
    <div class="clear"> </div>
    <br>

    {% comment %}
    {# treti lajna #}
    <a id="osa-banner" href="{% url timeline %}">
        <h3>Časový vývoj</h3>
    </a>
    {% endcomment %}

    {# ctvrta lajna #}
    <div id="dolni-boxy">
        <div class="span-7 append-1">
            <h3>Zprávy</h3>
            {% display_news %}
            <p>
                <a href="{% url new-list %}">Starší zprávy  »</a>
            </p>
        </div>
        <div class="span-7 append-1">
            {% chunk "homepage-aktualne" %}
        </div>
        <div class="span-8 last dolni-box">
            {% chunk "homepage-pomozte-nam" %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
{# vim: set et si ts=4 sw=4 syn=django: #}
