{% extends "bone.html" %}

{% load news chunks campaigns %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" type="text/css" media="screen">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/homepage.js"></script>
{% endblock %}

{% block main %}
    <h1>MapyHazardu.cz</h1>

    {# uvodni lajna #}
    <div class="span-12">
        <h2 style="line-height:120%;">
            Mapujeme hazard. Chceme česká města a obce bez
            všudypřítomných heren. Chceme, aby Česká republika
            přestala být pračkou peněz pro zbytek Evropy.
            Chceme, aby u nás nebyly statisíce gamblerů.
            Chceme dostat hazard do zákonných a únosných mezí.
            Pomozte nám.
        </h2>
        <p class="right"><a href="/kontakt/">Zajímá vás kdo jsme a proč to děláme?</a> &rarr;</p>
        <div class="clear"></div>
        <p style="margin-bottom:0"><b>Znáte situaci ve vašem regionu?</b></p>
        <p style="margin-bottom:0"><input placeholder="Zadejte název obce, okresu nebo kraje" style="width:95%; height:32px; font-size:18px;" type="text" name="search" id="search"></p>
    </div>
    <div class="span-12 last">
        <div class="box span-5" style="height:135px">
            <a href="/kampan/mf/"><b>Jak Ministerstvo financí ignorovalo sousedství</b><br>(výřez mapy)</a>
        </div>
        <div class="box span-5 last" style="height:135px">
            <a href="http://www.mapyhazardu.cz/"><b>Původní MapyHazardu</b><br>(výřez mapy)</a>
        </div>
        <div class="box span-5" style="height:135px">
            <a href="/porusovani-zakona/"><b>Podrobně o porušování zákona</b></a>
        </div>
        <div class="box span-5 last" style="height:135px">
            <a href="#"><b>Vyhlášky</b><br>(výřez mapy, Jakub Mráček)</a>
        </div>
    </div>

    <div class="clear"> </div>
    <br>

    {# treti lajna #}
    <div class="box" style="padding-bottom:0">
        <div class="span-5">
            <h3 style="margin-bottom:10px;">Historie porušování</h3>
            <p><a href="/casovy-vyvoj/">Časový vývoj hazardu v ČR</a>.</p>
        </div>
        <div class="span-18 last">
            <p class="todo"><br> &nbsp; TODO: timeline (nejaka vizualizace, interaktivni, nebo formou obrazku s prolinkem)<br><br></p>
        </div>
        <div class="clear"> </div>
    </div>

    {# treti lajna #}
    <div class="span-7 colborder">
        <h3>Zprávy</h3>
        {% display_news %}
        <p class="right"><a href="{% url new-list %}">Starší zprávy</a> &rarr;</p>
    </div>
    <div class="span-7 colborder">
        <h3>Aktuálně</h3>
        <p><a href="/kampan/mf/">Jak Ministerstvo financí ignorovalo sousedství</a></p>
        <p>V České republice je nejvíce hazardních přístrojů na světě. Za tuto skutečnost nese zodpovědnost Ministerstvo financí. Pod vedením Miroslava Kalouska se vědomě chovalo nezákonně a povolilo v České republice přes X0.000 hazardních přístrojů. Pomozte nám je zmapovat.</p>
        <p class="right"><a href="/kampan/">Prohlédněte si další naše kampaně</a> &rarr;</p>
    </div>
    <div class="span-8 last">
        <h3>Pomozte nám</h3>
        <p>Sháníme peníze či dobrovolníka na:</p>
        <ul>
            <li>čištění dat k mapám hazardu: XX.XXX Kč,- nebo asi XX hodin práce, požadované schopnosti: xxxxxxxx</li>
            <li>grafika: XX.XXX Kč,- nebo asi XX hodin práce, požadované schopnosti: xxxxxxxx </li>
            <li>něco (tiskárnu, dobrovolníky...)</li>
        </ul>
        <p class="todo">TODO: widget na darování peněz</p>
    </div>
    <div class="clear"> </div>
{% endblock %}
{# vim: set et si ts=4 sw=4 syn=django: #}
