{% extends "pages/context.html" %}

{% load chunks %}

{% block title %}Podrobně o porušování zákona | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <a href="/">Úvodní stránka</a> » <a href="{% url context %}">Souvislosti</a> » <span>Podrobně o porušování zákona</span>
{% endblock %}

{% block main_header %}
    <h1>Podrobně o porušování zákona</h1>
{% endblock %}

{% block main_perex %}
    {% chunk "zakon-perex" %}
{% endblock %}

{% block main_content %}
    {% chunk "zakon-text" %}
{% endblock %}

{# vim: set et si ts=4 sw=4 syn=django: #}
