{% extends "pages/base.html" %}

{% load chunks shared %}

{% block title %}Mapy | {{ block.super }}{% endblock %}

{% block fb %}
    <meta property="og:type" content="article">
    <meta property="og:title" content="Mapy">
    <meta property="og:description" content="{% filter striptags|stripstar|stripmultiwhitechars|nbsp2space %}{% chunk "mapy-perex" %}{% endfilter %}">
    <meta property="og:url" content="http://www.mapyhazardu.cz{{ request.path }}">
{% endblock %}

{% block breadcrumb %}
    <a href="/">Úvodní stránka</a> » <span>Mapy</span>
{% endblock %}

{% block main %}
    <h1>Mapy</h1>

    <div class="span-8 sidebar">
        {% chunk "mapy-perex" %}
    </div>
    <div class="span-16 last text">
        {% chunk "mapy-text" %}
        <iframe src="//www.facebook.com/plugins/like.php?href={% filter urlencode %}http://www.mapyhazardu.cz{{ request.path }}{% endfilter %}&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
    </div>
    <div class="clear"></div>
{% endblock %}
{# vim: set et si ts=4 sw=4 syn=django: #}
